<!-- Spinner Start -->
<div id="spinner" class="hidden bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
    <a routerLink="home" class="navbar-brand d-flex align-items-center">
        <h2 class="m-0 text-primary"><img class="img-fluid me-2" src="../../assets/img/icon-1.png" alt="" style="width: 45px;">CryptoTracker</h2>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-4 py-lg-0">
            <a style="color: #13bee5;" *ngIf="userService.user" class="nav-item nav-link"><svg height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60.671 60.671" xml:space="preserve" fill="#13bee5"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <ellipse style="fill:#13bee5;" cx="30.336" cy="12.097" rx="11.997" ry="12.097"></ellipse> <path style="fill:#13bee5;" d="M35.64,30.079H25.031c-7.021,0-12.714,5.739-12.714,12.821v17.771h36.037V42.9 C48.354,35.818,42.661,30.079,35.64,30.079z"></path> </g> </g> </g></svg>{{ userService.user.displayName }}</a>
            <a *ngIf="!userService.user" routerLink="home" class="nav-item nav-link">Home</a>
            <a routerLink="search" class="nav-item nav-link">Search</a>
            <a *ngIf="userService.user" routerLink="portfolio" class="nav-item nav-link">Portfolio</a>
            <!-- <a routerLink="home#about" class="nav-item nav-link">About</a>
            <a routerLink="home#service" class="nav-item nav-link">Service</a>
            <a routerLink="home#roadmap" class="nav-item nav-link">Roadmap</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu shadow-sm m-0">
                    <a routerLink="home#feature" class="dropdown-item">Feature</a>
                    <a routerLink="home#token" class="dropdown-item">Token Sale</a>
                    <a routerLink="home#faqs" class="dropdown-item">FAQs</a>
                </div>
            </div> -->
        </div>
        <a *ngIf="!userService.user" routerLink="signUp" class="btn btn-primary py-2 px-3 animated slideInRight">Register</a>
        <a *ngIf="!userService.user" routerLink="login" class="btn btn-primary py-2 px-3 mx-2 animated slideInRight">Log in</a>
        <a *ngIf="userService.user" (click)="signOut()" class="btn btn-primary py-2 px-3 mx-2 animated slideInRight">Sign Out</a>
    </div>
</nav>
<!-- Navbar End -->