<!-- Header Start -->
<div class="container-fluid hero-header bg-light py-5 mb-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 mb-3 animated slideInDown">Search Coins</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-6 animated fadeIn">
                <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;"
                    src="../../assets/img/hero-2.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Trending Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">Trending coins!</h1>
            <p class="text-primary fs-5 mb-5">Top 6 in the last 24 hours</p>
        </div>
        <div class="row g-5">
            <div *ngFor="let item of RequestAJAX.trendingCoins.slice(0, 6)"
                class=" trendingCoin-hover col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a routerLink="/detail/{{item.item.id}}">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="{{ item.item.small }}" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3"> {{ item.item.name }} </h5>

                            <h6>{{ item.item.data.price }}</h6>
                            <img class="img-fluid flex-shrink-0" src="{{ item.item.data.sparkline }}" alt="">
                            <br>

                            <!-- <span>{{ item.item.data.price_change_percentage_24h.usd }}</span> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="service"></div>
</div>
<!-- Trending End -->


<!-- Search Start -->
<div class="container-xl bg-light py-5 my-5">
    <div class="container py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">Search coins</h1>
            <p class="text-primary fs-5 mb-5">Search, analize and follow.</p>
        </div>
        <div class="position-relative">
            <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Search coins..."
                [(ngModel)]="searchInput" (keyup.enter)="searchCoin()">
            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2"
                (click)="searchCoin()">Search</button>
        </div>
        <br><br>
        <div class="row g-4 d-flex align-items-center justify-content-center">
            <div class="col-lg-10 col-md-6 wow" data-wow-delay="0.1s" *ngIf="firstSearch">

                <!-- Spinner Start -->
                <div id="spinner" *ngIf="RequestAJAX.spinner"
                    class="show position-relative translate-middle w-100 top-50 start-50 d-flex align-items-center justify-content-center">
                    <div class="spinner-grow text-primary" role="status"></div>
                </div>
                <!-- Spinner End -->

                <table class="table" *ngIf="!RequestAJAX.spinner">
                    <thead>
                        <tr class="wow fadeInUp" style="background-color: #16D5FF; color: white;">
                            <th scope="col">#</th>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white wow fadeInUp" *ngFor="let item of RequestAJAX.searchResponse">
                            <th scope="row">{{ item.market_cap_rank }}</th>
                            <td><img src="{{ item.thumb }}" alt="thumb"></td>
                            <td>{{ item.name }}</td>
                            <td style="color: rgb(196, 196, 196); font-size: 13px;">{{ item.symbol }}</td>
                            <td><a routerLink="/detail/{{item.id}}">View
                                    detail</a></td>
                            <td><button class="btn btn-primary animated slideInRigh" (click)="followCrypto(item.id)">Follow</button></td>
                        </tr>
                        <tr class="bg-white wow fadeInUp" *ngIf="RequestAJAX.searchResponse.length == 0">
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td>No results</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->